# Настройки Flask
FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1

# Настройки безопасности
SECRET_KEY=change-to-strong-random-key-in-production

# Настройки базы данных
DATABASE_PATH=merchandise.db 